@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  background-color: #ffffff;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom styling for inputs to match the image exactly */
input::placeholder {
  color: #9ca3af;
  opacity: 1;
}

input:focus {
  background-color: #ffffff !important;
}
